body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width: 800px) {
    .container,.sidebar {
        width: 80%;
    }
}
.sidebar{
    border: 3px solid #17A095;
    height: 100%;
    float: left;
    width: 100%;
    color:white;
    background-color: #17A095;
    margin-left:-15px;
}
.container{
    border:2px solid #17A095;
    width: 80%;
    margin-bottom: 20px;
}
#my-img{
    height: 30%;
    width: 50%;
}
#hr{
    border: 1px solid white;
}
#profiler-name,#profiler-post{
    font-weight: bold;
    text-align: center;
}
#title{
    font-weight: bold;
}
a{
    color: white;
}
h6{
    font-weight: bold;
}
hr{
    border: 1px solid #17A095;;
}
#container2{
    border: none;
}
.btn{
    border-radius: 25px;
}