body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar{
    border: 3px solid #17A095;
    height: 1000px;
    width: 250px;
    margin-left: -15px;
    color:white;
    background-color: #17A095;
}
.container{
    border:2px solid #17A095;
    width: 820px;
    margin-bottom: 20px;
}
#my-img{
    height: 180px;
    width: 180px;
}
#hr{
    border: 1px solid white;
}
#profiler-name,#profiler-post{
    font-weight: bold;
    text-align: center;
}
.about,.skills{
    padding: 8px;
    line-height: 30px;
}
#title{
    font-weight: bold;
}
.corner1{
    height: 35px;
    width: 300px;
    border:2px solid #17A095;
    float: right;
    margin-right: -16px;
    border-bottom-left-radius:120px;
    background-color: #17A095;
}
a{
    color: white;
}
.corner2{
    height: 300px;
    width: 35px;
    border:2px solid #17A095;
    float:right;
    margin-right: -300px;
    border-bottom-left-radius:120px;
    background-color: #17A095;
}
.summary{
    height: 180px;
    width: 470px;
    float: left;
    /* border: 1px solid black; */
}
.work-history{
    width: 450px;
    height:480;
    /* border:1px solid black; */
    float:left;
    margin-top: -15px;
}
h6{
    font-weight: bold;
}
.education{
    float:left;
    height: 300px;
    margin-top: -15px;
    width: 450px;
}
.bachelor{
    float:left;
    height: 100px;
    margin-top: -15px;
    width: 450px;
}
.left{
    width: 80px;
    float:left;
    height: 100px;
}
.right{
    width: 360px;
    float:left;
    margin-left: 2px;
    height: 100px;
}
#master-right{
    height:120px ;
}
hr{
    border: 1px solid #17A095;;
}
#container2{
    border: none;
}
.btn{
    border-radius: 25px;
}